<div>
    <p>Jeśli masz pytania, zachęcamy do kontaktu:</p>
    <p>Ośrodek Akademicki Filary</p>
    <p>Ul. Gościniec 12</p>
    <p>00-704 Warszawa</p>
    <p>tel. 22 891 07 75</p>
    <p><a href="mailto:dworek.rekolekcje.dziewczyny@gmail.com">dworek.rekolekcje.dziewczyny@gmail.com</a></p>
    <p>Terminy rekolekcji:</p>
    <p><a href="https://www.dworek.org.pl" target="_blank">www.dworek.org.pl</a></p>
</div>