<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Didact+Gothic&display=swap" rel="stylesheet"> 
     
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    {{>header}} <br>
    <form method="post">
        <div class="row">
            <div class="col-12">
                <table class="table">  
                    <tbody>
                        <tr>
                            <th class="border-0 p-0">Imię:</th>
                            <th class="border-0 p-0"><input id="nameFirst" placeholder="Wpisz imię" /></th>
                        </tr>
                        <tr>
                            <th class="border-0 p-0">Nazwisko:</th>
                            <th class="border-0 p-0"><input id="surname" placeholder="Wpisz nazwisko" /></th>
                        </tr>
                         <tr>
                            <th class="border-0 p-0">Data rekolekcji na które chcesz się zapisać:</th>
                            <th class="border-0 p-0 font-weight-normal"><input type="date" id="rekoDate" /></th>
                        </tr>
                        <tr>
                            <th class="border-0 p-0">Ile masz lat?</th>
                            <th class="border-0 p-0"><input id="age" type="number" placeholder="Wiek" /></th>
                        </tr>
                        <tr>
                            <th class="border-0 p-0">Numer telefonu:</th>
                            <th class="border-0 p-0"><input type="tel" id="tel" placeholder="Tylko cyfry, np. 123456789" /></th>
                        </tr>
                         <tr>
                            <th class="border-0 p-0">E-mail:</th>
                            <th class="border-0 p-0 font-weight-normal"><input type="email" id="email" placeholder="E-mail" /></th>
                        </tr>
                        <tr>
                            <th class="border-0 p-0">Jak dojedziesz na rekolekcje:</th>
                            <th class="border-0 p-0 font-weight-normal"><input id="arrive" placeholder="Samochodem, pociągiem, itp." /></th>
                        </tr>
                        <tr>
                            <th class="border-0 p-0">Uwagi:</th>
                            <th class="border-0 p-0 font-weight-normal"><input id="comments" placeholder="Np. dieta, inna data przyjazdu" /></th>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="button">Zapisz się!</button>
            </div>
        </div>
    </form>
    <br>
    {{>footer}}
    </div>
    <script src="/js/app.js">
    // onclick="window.location.href='https://www.google.com'" przenosi do localhost:3000/google.com
    // onclick="window.open('https://google.com')" przenosi do new tab pod wpisanym adresem
            //function fn1() {
            //var rekoDate1 = document.getElementById('rekoDate1')
            //var rekoDate2 = document.getElementById('rekoDate2')

            //if (rekoDate1.checked===true)
            //    const rekoDate1 = rekoDate1.value
            //else if (rekoDate2.checked===true)
            //    const rekoDate2 = rekoDate2.value
            //else
            //    alert("nie ma wybranego klik!")
        //}
        // Na przycisku submit dodać onclick="fn1()" aby wywołać funkcję
    </script>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>