<!DOCTYPE html>

<html>

<head>        
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Didact+Gothic&display=swap" rel="stylesheet"> 
     
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    {{>header}}
    <p>{{helpText}}</p>
    <div>
            <p>Podlaskie Towarzystwo Oświatowo-Kulturalne (PTOK)</p>
            <p>Boża Wola 15, 05-332 Siennica</p>

            <p>Nr rachunku: 37 9226 0005 0045 0700 2000 0010</p>
            <p>Bank: Spółdzieczy w Mińsku Mazowieckim, Oddział w Siennicy</p>

            <p>Tytuł wpłaty: za pobyt w Centrum Konferencyjnym i Formacyjnym "Dworek" w dniach ... oraz na cele statutowe</p>
    </div>
    {{>footer}}
    </div>
</body>

</html>