body {
    font-family: 'Didact Gothic', sans-serif !important;
    background-image: url("../img/bckgr.jpg") !important;
    background-color: #d3ba66 !important;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 23px !important;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px !important;
}

div {
    text-align: center;
}

.button {
    font-size: 20px;
}

.rekoFilInfo {
    background-color: wheat;
    border: 5px solid red;
}

@media (max-width: 1200px) {
    body {
      font-size: 23px !important;
      background-size: 250% auto;
    }
}
  
@media (max-width: 550px) {
    body {
      font-size: 100% !important;
      background-size: 300% auto;
    }
}